langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
chromadb
pypdf
python-dotenv
transformers
datasets
accelerate
scikit-learn
sentencepiece
protobuf
jsonlines
huggingface_hub
torch
reportlab
